@font-face {
  font-family: bebas;
  src: url(asset_path("BebasNeue-Bold-webfont.eot"));
  src: url(asset_path("BebasNeue-Bold-webfont.eot?#iefix")) format("embedded-opentype"),
       url(asset_path("BebasNeue-Bold-webfont.woff2")) format("woff2"),
       url(asset_path("BebasNeue-Bold-webfont.woff")) format("woff"),
       url(asset_path("BebasNeue-Bold-webfont.ttf")) format("truetype"),
       url(asset_path("BebasNeue-Bold-webfont.svg#bebas_neuebold")) format("svg");
}

@font-face {
    font-family: proxima;
    src: url(asset_path("ProximaNova-Light-webfont.eot"));
    src: url(asset_path("ProximaNova-Light-webfont.eot?#iefix")) format("embedded-opentype"),
         url(asset_path("ProximaNova-Light-webfont.woff2")) format("woff2"),
         url(asset_path("ProximaNova-Light-webfont.woff")) format("woff"),
         url(asset_path("ProximaNova-Light-webfont.ttf")) format("truetype"),
         url(asset_path("ProximaNova-Light-webfont.svg#proxima_novalight")) format("svg");
}
