.primary-header {font-family: bebas, proxima, helvetica, sans-serif !important;}
.secondary-header {font-family: proxima, helvetica, sans-serif !important;}

html, body, p, span, table, ul, ol, dl, li, a, form, button, input, select, textarea {
  font-family: proxima, helvetica, sans-serif;
}

.header-xxl {font-size: 4.5rem !important;}   // 72px
.header-xl {font-size: 2.5rem !important;}    // 40px
.header-l {font-size: 2rem !important;}       // 32px
.header-m {font-size: 1.75rem  !important;}   // 28px
.header-s {font-size: 1.5rem !important;}     // 24px

.text-xxl {font-size: 2rem !important;}       // 32px
.text-xl {font-size: 1.5rem !important;}      // 24px
.text-l {font-size: 1.25rem !important;}      // 20px
.text-m {font-size: 1rem  !important;}        // 16px
.text-s {font-size: 0.875rem !important;}     // 14px

.text-black {font-weight: 800 !important;}
.text-bold {font-weight: 600 !important;}
.text-book {font-weight: 400 !important;}
.text-light {font-weight: 200 !important;}
